<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Nooran kahvikauppa</title>
</head>

<body>
    <header>
        <ul>
            <li><p>Nooran kahvikauppa</p></li>
            <li><a href="/index" th:href="@{index}">Etusivu</a></li>
            <li><a href="/laittet" th:href="@{laitteet}">Kahvilaitteet</a></li>
            <li><a href="/tuotteet" th:href="@{tuotteet}">Kulutustuotteet</a></li>
        </ul>
    </header>
    <h1>Tervetuloa Nooran kahvikauppaan</h1>

</body>

</html>